body {
  font: 10px sans-serif;
  width: 100%;
  height: 100%;
}

#svgContainer { width: 100%; height:80%; float:left; position: relative;}
#histogram { width: 70%; height: 100%; float:left;}
#legend { width: 30%; height: 100%; float: left; position: relative;}

.title {
  background-color: #1FA898;
  text-align: center;
  padding: 0.5em;
  height: 10%;
}
p {
  font-size: 2em;
  font-family: 'Comfortaa', sans-serif;
}
h1 {
  font-weight: 400;
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-size: 4em;
}
h3 {
  font-family: 'Comfortaa', sans-serif;
  color: #545454;
  font-size: 2em;
}
h4 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 2.5em;
  color: white;
}
h5 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bolder;
}

.bottom-bar {
  background-color: #1FA898;
  text-align: center;
  padding: 0.5em;

}

.chart-title {
  color: #222;
}

.button-bar {
  display:block;
}

.bar rect {
  shape-rendering: crispEdges;
  padding: 1em;
}

.bar text {
  fill: #999999;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.submit {
  width: 50%;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #1fa898;
    color: white;
    padding: .8em;
    margin: 0.25em;
    font-size: 1.6em;
    border: none;
    cursor: pointer;
    display:block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 1.2em 1.6em;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #27304d;
}
